@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #FFFFFF;
  color: #333333; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  border: 1px solid #2862AC;
    border-radius: 5px;
  width: 100%;
  height: 60px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #333333; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #333333; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #333333; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #333333; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.input-text {
  display: block;
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 0 10px; }
  .input-text sup {
    color: #EB5757;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 0 5px; }

label {
  display: block;
  width: 100%;
  margin: 0 0 29px; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 60px;
  padding: 0 50px;
  min-width: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  border: none;
    border-radius: 5px; }

.btn-accent {
  color: #fff;
  background: #2862AC; }
  .btn-accent:hover {
    background: #333;
    color: #fff; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.box-text p {
  margin: 0 0 20px; }
  .box-text p:last-child {
    margin: 0; }

h1, .h1 {
  font-size: 42px;
  font-weight: bold;
  width: 100%;
  color: #2862AC;
  margin: 0 0 2px;
  line-height: 150%; }

.h1 {
  margin: 0 0 20px; }

h2 {
  width: 100%;
  margin: 0 0 27px;
  font-weight: bold;
  font-size: 32px; }

.container {
  width: 100%;
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.bg-grey {
  background: #F8F8F8; }

.color-red {
  color: #EB5757; }

table, form {
  width: 100%; }

.w-30 {
  width: 30%;
  padding: 0 12.5px; }

.w-50 {
  width: 50%;
  padding: 0 12.5px; }

.w-70 {
  width: 70%;
  padding: 0 12.5px; }

.w-100 {
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12.5px; }

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.checkbox {
  margin: 0 18px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #828282;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif; }
  .checkbox a {
    display: inline-block;
    text-decoration: underline;
    color: #2862AC; }
  .checkbox input {
    display: none; }
    .checkbox input:checked + .checkbox-custom {
      background: url("../img/checked.svg") no-repeat center;
        background-size: 100%; }

.checkbox-custom {
  width: 18px;
  height: 18px;
  min-width: 18px;
  background: url("../img/check-grey.svg") no-repeat center;
    background-size: 100%;
  margin: 3px 9px 0 0; }

.checkbox-text {
  max-width: 240px; }

.select2-search--dropdown {
  display: none; }

.select2-container--default .select2-selection--single {
  border: 1px solid #2862AC;
    border-radius: 5px;
  background: #fff;
  height: 60px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
  padding: 0 45px 0 15px;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #333; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #263E78 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
  margin: 0;
  left: 0;
  top: 0;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #263E78 transparent; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  width: 30px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 280px; }

.select2-results__option {
  padding: 12px 20px;
  color: #4F4F4F;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: #4F4F4F;
  background: #F2F2F2; }

.select2-container--open .select2-dropdown--below {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border: none;
    border-radius: 5px;
  background: #fff; }

.select2-results {
  border-radius: 5px;
  overflow: hidden; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 4px;
  border: 1px solid #BDBDBD; }

.slick-slider {
  width: 100%; }
